@model Realtor.Models.Property

@{
    ViewData["Title"] = "Изтриване на обява";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Изтриване</h1>

<h3>Искате ли да изтриете обявата?</h3>
<div>
    <h4>Имот</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.propertyType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.propertyType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.transaction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.transaction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.header)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.header)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.phoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.phoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.userID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.userID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="propertyId" />
        <input type="submit" value="Изтрий" class="btn btn-danger" /> |
        <a asp-action="Index">Обратно към обявите</a>
    </form>
</div>
